/* General styling */
body {
    font-family: 'Inter', sans-serif;
    background-color: #DEE1E3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

/* Main title styling */
.main-title {
    width: 1440px;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 96px;
    font-weight: 700;
    margin-top: 10px; 
}

/* Subheading with drop shadow */
.subheading {
    width: 1440px;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-weight: 700;
}

/* Paragraph without drop shadow */
.paragraph {
    width: 1398px;  
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
}

/* Home button background */
.home-btn-bg {
    width: 401px;
    height: 93px;
    border-radius: 47px;
    background: #0B4F80;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Home button text */
.home-btn-text {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-weight: 700;
}

/* Content container */
#content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Centers content vertically */
    width: 100%;
    flex: 1; /* This ensures that the content section takes up all the available space */
}


/* Adjustments for the footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px; /* Space between the subsections and the footer */
}